* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    background-color: rgb(235, 235, 235);
}

a {
    color: black;
}

a#voltar {
    position: fixed;
    background-color:cadetblue;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

@media only screen and (max-device-width: 400px) {
    body {
        width: 100vw;
        height: 100vh;
        margin: auto;
        box-sizing: border-box;
    }
    header h1 {
        font-size: 0,2em;
        font-family: monospace;
        text-shadow: 5px 5px 5px black;
    }
    div {
        display: flex;
        flex-direction: column;
    }
    
    header {
        display: none;
    }
    
    aside {
        position: sticky;
        top:-200px;
        text-align: center;
        width: 100%;
        background-color:rgb(235, 235, 235);
        color: black;
        margin-bottom: 20px;
    }

    section {
        width: 100%;
        margin-bottom: 20px; 
        text-align: center;
    }

    #logo img{
        width: 08em;
        height: 10em;
        margin: 2em auto;
        background-color: cornsilk;
    }
    
    #resumo {
        text-align: center;
        padding: 10px;
        width: 90%;
        padding: 10px;
    }

    .sites {
        height: 10em;
        background-color: #99ddffa4;
        margin-bottom: 30px;
        box-sizing: border-box;
    }
    .sites img {
        height: 10em;
    }

}

@media only screen and (min-device-width: 401px) {    
    body {
        width: 100%;
        margin: auto;
        background-color: rgb(214, 214, 214);
        background-image: url(../img/laptop-1478822_1280.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /*barra navegação */
    header {
        position: fixed;
        top: 0px;
        width: 100%;
        height: 32px;
        background-color: rgb(26, 26, 26);
        color: snow;
        box-shadow: 0px 1px 2px 0px black;
        opacity: .7;
        z-index: 1;
    }

    header:hover {
        opacity: 1;
    }

    header ul {
        display: flex;
        flex-direction: row;
        float: right;
        margin-right: 20px;
        padding-right: 10px;
    }

    header li {
        padding: 5px;
    }

    #duas-colunas {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }

    aside {
        width: 34vw;
        min-width: min-content;
        height: 100vh;
        background-color: snow;
        padding: 2em;
        margin-right: 4em;
        text-align: center;
        box-sizing: border-box;
        opacity: .8;
    }

    aside:hover {
        opacity: 1;
    }

    aside li  {
        padding: 10px; 
        border-top: 1px solid rgb(209, 204, 204);
    }

    li.ultimo {
        border-bottom: 1px solid rgb(209, 204, 204);
    }

    #logo {
        margin-bottom: 10px;
    }

    .skill {
        background-color: skyblue;
        margin-bottom: 10px;
    }

    section {
        width: 60vw;
        min-width: min-content;
        height: 100vh;
        background-color: snow;
        padding: 2em;
        box-sizing: border-box;
        opacity: .8;
        overflow: scroll;
    }

    legend {
        margin-top: 5px;
    }

    section:hover {
        opacity: 1;
    }

    figure {
        text-align: center;
        background-color: skyblue ;
    }

    figure:hover {
        background: turquoise;
    }

    #flex {
        display: flex;
        flex-wrap: wrap;
    }

    .sites {
        margin: 30px 30px 0px 30px; 
    }

    .moldura {
        width: 14em;
        height: 14em;
        background-color: #99ddff;
    }
}

a {
    color: rgb(32, 32, 32);
    cursor: pointer;
}

@media only screen and (max-device-height: 567px){
    body {
        min-width: 680px;
    }
    header {
        z-index: 1;
    }
    aside, section {
        overflow: scroll;
    }
    aside {
        position: sticky;
        float: left;
    }
}

