a#voltar {
    text-decoration: none;
    position: fixed;
    z-index: 2;
    background-color:greenyellow;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    line-height: 100px;
    text-align: center;
}