* {
	margin: 0px;
	padding: 0px;
	font-family: Roboto
}

form {
	position: absolute;
	margin: 168px 0px;
	text-align: center;
}

a {
	text-decoration: none;
	font-size: 0.8em;
	color: grey;
}

input {
	background: rgb(255,255,255,0.1);
	color: grey;
	border: none;
	width: 295px;
	height: 51px;
	margin: 15px 32px;
}
#logo img {
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

#conteudo img {
	width: 84px;
	height: 128px;
	margin: 10px 10px 0px 0px;
}
#conteudo-2 img {
	width: 84px;
	height: 128px;
	margin: 10px 10px 10px 0px;
}

#imagem-filme img {
	width: 95px;
	height: 140px;
	margin: 30px 130px;
}

img.logo {
	width: 115px;
	height: 32px;
}

#logo a {
	color: white;
	text-decoration: none;
}

#area-principal {
	width: 360px;
	height: 640px;
	margin:15px auto;
	background:url(imagens/netbg.jpg);
	top:0px;
	left:0px;
	position: relative;
}
#mancha {
	width: 360px;
	height: 640px;
	background: rgb(0,0,0);
	opacity: 80%;
	position: absolute;
	filter: blur(20px);
	overflow: visible;
}

#area-principal-2 {
	width: 360px;
	height: 640px;
	margin:15px auto;
	background-color: #272121;
	top:0px;
	left:0px;
	position: relative;
}

#area-principal-3 {
	width: 360px;
	height: 640px;
	margin:15px auto;
	background:url(imagens/movie1.png);
	top:0px;
	left:0px;
	position: relative;
}

#area-logo {
	width: 360px;
	height: 640px;
	background: rgb(0,0,0);
	opacity: 80%;
	position: absolute;
}

#logo {
	margin: 288px 62px;
	position: absolute;
	text-align: center;
}

#logo2 {
	margin: 31px 123px;
	position: absolute;
	text-align: center;
}

#conteudo {
	color: grey;
	position: absolute;
	margin: 130px 32px;
	width: 328px;
	height: 128px;
}

#conteudo-2 {
	color: grey;
	position: absolute;
	margin: 330px 32px;
	width: 328px;
	height: 128px;
}

#area-principal-3 #conteudo-2 {
	padding: 15px;
	background: #272121;
	margin: 528px 0px;
	width: 330px;
	height: 80px;
}

#conteudo-3 {
	color: grey;
	position: absolute;
	margin: 200px 32px;
	width: 328px;
	height: 128px;
}

#conteudo-3 a {
	text-align:center;
}

#conteudo-3 p {
	font-size: 0.8em;
	display:inline;
	margin-right: 35px;
}

#imagem-filme {
	position: absolute;
}

.btn {
	color:white;
	line-height: 51px;
	display: block;
	background: #E80000;
	width: 295px;
	height: 51px;
	margin-top:20px;
	margin-bottom: 20px;
}

.button {
	line-height: 51px;
	display: block;
	background: #E80000;
	width: 295px;
	height: 51px;
	margin: 15px 32px;
}

.resumo {
	margin-right: 30px;
}
