body {
    text-align: center;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #eeeeee;
    color: #eeeeee;
    display: inline-block;
    padding: 40px;
    font-size: 50px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
    transform: scale(1);
    transform-style: preserve-3d; /*não deixa o elemento achatado no plano*/
    transition: transform .9s;
    
}

.quadrado:active {
    transform: scale(0.97);
    transition: transform .3s;
}

.jogador, .vencedor {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eeeeee;
    cursor:pointer;
}