* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}

#container a {
    color: white;
}
@media only screen and (max-device-width: 400px) { 
    * {
        display: none;
    }
}
@media only screen and (min-device-width: 401px) { 
    body {
        width: 100vw;
        background-color: snow;
        background: url(../img/capa.jpg) no-repeat ;
        background-size: cover;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: center;
        text-align: right;
        width: 100vw;
        height: 370px;
        margin-bottom: 30px;
        padding-right: 100px;
        box-sizing: border-box;
        background-color: rgb(0,0,0,0.2);
        color: white;
    }
    #popup {
        text-align: center;
    }
    #logar input {
        width: 90%;
        height: 50px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid black;
    }
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100vw;
        padding: 20px;
        box-sizing: border-box;
        background-color: rgb(0,0,0,0.2);
        color: white;
    }

    #sobre {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 500px;
        padding: 10px;
        background-color: rgb(0,0,0,0.6);
        box-sizing: border-box;
    }
    #area-login {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        width: 80vw;
        height: 500px;
        padding: 10px;
    }
    .acesso {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 95%;
        height: 400px;
        padding: 10px;
        margin: 20px;
        background-color: rgb(0,0,0,0.6);
    }

    #calendar {
        width:50%;
        margin: auto;
        background-color: rgb(255,255,255,0.7);
    }

    #lbl, #lbl2 {
        font-size: 0.7em;
    }

    .form-popup {
        display: none;
        position: fixed;
        left: 40%;
        top: 20%;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    .form-popup2 {
        display: none;
        position: fixed;
        left: 2%;
        top: 20%;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 400px;
        padding: 10px;
        background-color: white;
    }

    .form-container2 {
        max-width: 100vw;
        padding: 10px;
        background-color: white;
        color: black;
    }

    /* Full-width input fields */
    .form-container input[type=text] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        box-sizing: border-box;
    }

    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus {
        background-color: #ddd;
        outline: none;
    }

    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }
    
}